* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    /* The website taking full width so i assumed it as 1fr */
    grid-template-columns: 1fr;

    padding: 20px;

    gap: 20px;
}

.header {
    /* In header they had 3 rows with full width so i created this 1fr column and gave the height for the rows */
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: 30px 60px 30px;
}
.header-1 {
    background-color: lightblue;
}
.header-2 {
    background-color: lightgray;
}
.header-3 {
    background-color: lightcoral;
}

/* Hero Section */
.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 700px;

}
.hero-image {
    background-color: red;
}

/* Main Section */
.main {
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr;

    gap: 20px;
}
.featured {
    background-color: azure;

    display: grid;
    grid-template-rows: 1000px;
}
.shop-by-cart {
    background-color: beige;
    display: grid;
    grid-template-rows: 700px;
}
.banner {
    background-color: bisque;
    display: grid;
    grid-template-rows: 200px;
}
.spotlight {
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 700px;
}

/* Footer Section */
.footer {
    background-color: aquamarine;
    display: grid;
    grid-template-rows: 150px;
}