* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    /* The website taking full width so i assumed it as 1fr */
    grid-template-columns: 1fr;

    /* padding: 20px; */

    gap: 20px;
}

.header {
    /* In header they had 3 rows with full width so i created this 1fr column and gave the height for the rows */
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: 40px 60px 35px;
}

.header-1 {
    background-color: #F5F5F5;

    /* Aligned the items vertically to center and at end horizontailly */
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
}
.header-1 ul {
    display: flex;

    list-style: none;
    gap: 10px;
    margin-right: 10px;
}
.header-1 ul li {
    font-weight: bold;
    font-size: smaller;
}

.header-2 {
    background-color: #FFFFFF;;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Helvetica, sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}
.nike{
    font-size: medium;
    font-weight: bold;
}
.header-2 nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.header-2 nav ul li {
    font-size: medium;
    font-weight: bold;
}
.header-2 nav ul li:hover {
    cursor: pointer;
}
.right-content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
.right-content span {
    padding: 5px;
    border-radius: 25px;
}
.right-content span:hover {
    background-color: rgb(179, 177, 177);
    cursor: pointer;
}
.right-content input {
    padding-right: 40px;
    height: 35px;
    border-radius: 25px;
    border: none;
    background-color: rgb(249, 246, 246);
    outline: none;
    padding-left: 45px;
}
.right-content input::placeholder{
    /* padding-left: 10px; */
    font-size: medium;
}
.search-icon {
    position: absolute;
    right: 300px;
    padding: 5px;
    border-radius: 25px;
}
.search-icon:hover {
    background-color: rgb(164, 162, 162);
}

.header-3 {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-family: Helvetica, sans-serif;
}



/* Hero Section */
.hero {
    display: grid;
    place-items: center;
    /* height: 700px; */

    position: relative;
}
 .thumbnail-video {
    width: 100%;
    height: 700px;
    object-fit: cover;
    grid-area: 1 / 1;
 }
 .video-description {
    grid-area: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    height: 100%;
    width: 100%;
    /* padding: 60px; */
    padding-bottom: 70px;
    color: white;

    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
 }



/* Main Section */
.main {
    display: grid;
    grid-template-columns: 1fr;

    gap: 20px;
}

.featured {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 950px);

    /* gap: 20px; */
}
.card{
    position: relative;
    overflow: hidden;
}
.image-1{
    background:url("./images/one.avif") center/cover;
}
.image-2{
    background:url("./images/two.avif") center/cover;
}
.image-3{
    background:url("./images/three.avif") center/cover;
}
.image-4{
    background:url("./images/four.avif") center/cover;
}


.shop-by-cart {
    display: grid;
    grid-template-columns: repeat(6, 430px);
    grid-template-rows: repeat(1, 535px);

    overflow:auto;
    gap: 10px;

    margin-left: 50px;
}
.shop-by-cart div span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
}
.cart-card {
    height: 100%;
}
.cricket-image {
    background: url(./images/featured/cricket) center/cover;
}
.running-image {
    background: url(./images/featured/running) center/cover;
}
.training-image {
    background: url(./images/featured/training) center/cover;
}
.sportswear-image {
    background: url(./images/featured/sports-wear) center/cover;
}
.football-image {
    background: url(./images/featured/football) center/cover;
}
.basketball-image {
    background: url(./images/featured/basketball) center/cover;
}

.banner {
    padding-top: 100px;
    padding-bottom: 100px;
}

.spotlight {
    display: grid;
}

.spotlight-products {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    margin-left: 100px;
    margin-right: 100px;

    /* padding-left: 9rem;
    padding-right: 9rem;
    padding-bottom: 6rem; */
    padding: 0rem 9rem 6rem;
}
.spotlight-banner {
    padding-bottom: 100px;
}
.spotlight-products img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* Footer Section */
.footer {
    display: flex;
    justify-content: flex-start;
    gap: 10px;

    padding-top: 24px;
    padding-bottom: 100px;
    
    margin-left: 54px;
    margin-right: 54px;

    font-family: Arial, Helvetica, sans-serif;

    border-top: 0.5px solid #E5E5E5;
}
.footer span {
    color: rgb(129, 125, 125);
}
.footer a {
    text-decoration: none;
    color: rgb(129, 125, 125);
}